{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-transform-function-bind",
    "babel-plugin-transform-runtime",
  ]
}
